.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    
  }
  
  .signup-container {
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
  padding: 30px;
 margin-top: 100px;

    overflow: hidden;
  }
  .signup-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://example.com/path-to-your-image.jpg'); /* Remplacez par l'URL de votre image */
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: -1;
    border-radius: 20px;
  }
  
  .signup-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #2b4c3b;
  }
  
  .signup-content h3 {
    margin: 0;
    font-size: 18px;
    color: #4a7c59;
    margin-bottom: 30px;
  }
  
  .signup-form label {
    display: block;
    margin: 10px 0 5px;
    color: #333333;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  .sign-up-options {
    margin-top: 20px;
  }
  
  .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .signup-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #5c6f5a;
  }
  
  .signup-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-footer a:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: #ebf8ed6a; 
    color: #2E2E2E;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    
  }