/* Conteneur principal */
.custom-login-page {
  display: flex;
  height: 80vh;
  background: linear-gradient(to bottom, #ffffff, #e6f7ff);
  font-family: "Arial", sans-serif;
}

/* Section du carousel */
.custom-carousel-section {
  flex: 1;
  background: #82D49D; /* Couleur bleue */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 50%;
  overflow: hidden;
}

.custom-swiper .custom-carousel-image {
  width: 200px;
  height: 200px;
  margin: auto;
}

.custom-welcome-text {
  text-align: center;
}

.custom-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.custom-description {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Section du formulaire */
.custom-form-section {
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

.custom-form-title {
  color: #007bff;
  margin-bottom: 1rem;
}

.custom-form-subtitle {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  color: #666;
}

.custom-form-subtitle a {
  color: #007bff;
  text-decoration: none;
}

.custom-input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.custom-form-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.custom-remember-label {
  color: #666;
}

.custom-forgot-link {
  color: #007bff;
  text-decoration: none;
}

.custom-login-button {
  width: 100%;
  padding: 0.8rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-login-button:hover {
  background: #0056b3;
}
.custom-swiper {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100%;           
}
/* Pagination générale */
.custom-swiper .swiper-pagination-bullet {
  background-color: #d3d3d3;
  width: 10px; 
  height: 10px;
  margin: 0 5px;
  opacity: 1; 
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Pagination active */
.custom-swiper .swiper-pagination-bullet-active {
  background-color:  #82D49D; /* Couleur bleue */
  ;
  transform: scale(1.5);
}

/* Centrer la pagination */
.custom-swiper .swiper-pagination {
  bottom: 20px;
  text-align: center; 
  
}
.footer {
  background-color: #ebf8ed6a; 
  color: #2E2E2E;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
  margin-top: 5px;
  
}