@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dans index.css */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
* {
  margin: 0;
  padding: 0;
  
}
.top-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; 
}



.language-icon {
  font-size: 24px;
  cursor: pointer;
  color: #007bff; 
  position: absolute;
  left: 20px;
}

.logo img {
  height: 40px;
}


.header-buttons {
  position: absolute;
  right: 20px; 
  display: flex;
}
.header-buttons .client-btn{
  padding: 5px 10px;
}
.header-buttons .account-btn{
  padding: 5px 15px;
}

.header-buttons .client-btn,
.header-buttons .account-btn {
  margin-left: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  text-align: center;
  gap: 5px;
  align-items: center;
}


.client-btn {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.client-btn:hover {
  background-color: #0056b3;
}


.account-btn {
  background-color: #007bff; 
  color: #fff;
  transition: background-color 0.3s;
}

.account-btn:hover {
  background-color: #0056b3;
}


.bottom-header {
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.bottom-header nav a {
  margin: 0 55px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

.bottom-header nav a:hover {
  color: #007bff;
}

.bottom-header nav .active {
  color: #007bff;
  font-weight: bold;
}




/* Contact */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a6d8a8;
  padding: 0px 10px;
  width: 100%;
  height:80vh;
}


.eco-vibe-text {
  text-align: center;
  padding-right: 20px;
  width: 50%;
}

.eco-vibe-text h1 {
  font-size: 43px;
  color: #EBEDF0;
  margin-bottom: 0;
}


.eco-vibe-text p {
  color: #0066cc;
  font-size: 34px;
  margin-top: 10px;
}

.eco-vibe-button {
  background-color: #0066cc;
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin-top: 40px;
 width: 150px;
}

.eco-vibe-button:hover {
  background-color: #005bb5;
}


.eco-vibe-images {
  display: flex;
  position: relative;
  width: 58%;
  height: 100%;
  align-items: center;
  top: 15px;
  
}

.image-style {
  width: 250px; 
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: transform 0.3s;
  justify-content: space-between;
  padding: 20px;
  
}

.contact-left,
.contact-right {
  flex: 1;
  padding: 20px;
}

.contact-left h2,
.contact-right h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-left p {
  margin: 10px 0;
  color: #333;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.icon {
  font-size: 24px;
  color: #a0ecb3;
  cursor: pointer;
}

.contact-right {
  display: flex;
  flex-direction: column;
}

.contact-form {
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.contact-form label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-top: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05); 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff; 
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2); 
  outline: none;
}

.contact-form textarea {
  resize: vertical;
  height: 120px;
}

.contact-form button {
  margin-top: 15px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.contact-form button:hover {
  background-color: #007bff; 
}


.contact-map {
  flex: 1;
  padding: 20px;
}

.leaflet-container {
  border-radius: 15px;
  outline: none; /* Supprime le contour lors du focus */
}
.leaflet-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.leaflet-popup-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.leaflet-popup-content p {
  font-size: 13px;
}

/* Footer */

.footer {
  background-color: #ebf8ed6a; 
  color: #2E2E2E;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-logo p {
  max-width: 250px;
}

.footer-sections {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footer-section {
  margin-right: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section li {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li a {
  color: #2E2E2E;
  text-decoration: none;
}

.footer-section li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #82D49D; /* Couleur accent verte */
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}
/* sect 2 */
.ServicSect{
  width:100%;
  Display :"flex";
  flex-direction:"row";
  margin:10px;
}
.serv{
  width:50%
}
.serv img{
  width:30%;
}

